
body { position: relative; padding-top: 80px; }

nav {
    background-color: #fff;
    color: #444;
    position: fixed;
    width: 100%;
    height: 38px;
    opacity: 0.7;
    z-index: 1;
    top: 0;
    left: 0;
}
a {
	color: #448;
}

.container {
	max-width: 96%;
}